@import "../shared/common.scss";
@import "../shared/color.scss";

.link {
    @include common();
    @include colorset(
        $foreground: black,
        $background: inherit
    );
    
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}
