@import "../shared/common.scss";
@import "../shared/color.scss";
@import "../config.scss";

.nav {
    @include common();
    
    @include colorset(
        $foreground: black,
        $background: $color-shadow
    );

    // width
    width: 80dvw;
    padding-left: 10dvw;
    padding-right: 10dvw;

    // height by padding
    padding-top: $size;
    padding-bottom: $size;

    // flex
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: $spacing;
}

.nav__icon {
    @include common();

    user-select: none;
    font-weight: bold;
}

.nav__item {
    @include common();
    
    @include colorset(
        $foreground: black,
        $background: $color-shadow
    );
    
    text-decoration: none;
    &:hover { text-decoration: underline; }
}

@media screen and (max-width: $mobile) {
    .nav {
        // width
        width: 94dvw;
        padding-left: 3dvw;
        padding-right: 3dvw;
    }
}
