@import "../shared/flex.scss";


.flex {
    @include flexset(
        $direction: row,
        $justify: space-between
    );
}

.flex--r-st { // row and start
    @include flexset(
        $direction: row,
        $justify: start
    );
}

.flex--r-sb { // row and space-between
    @include flexset(
        $direction: row,
        $justify: space-between
    );
}

.flex--r-c { // row and space-between
    @include flexset(
        $direction: row,
        $justify: center
    );
}

.flex--c-st { // column and start
    @include flexset(
        $direction: column,
        $justify: start
    );
}

.flex--c-sb { // column and space-between
    @include flexset(
        $direction: column,
        $justify: space-between
    );
}

.flex--c-c { // column and space-between
    @include flexset(
        $direction: column,
        $justify: center
    );
}
