@import "../shared/grid.scss";

@for $g from 1 through 3 {
    .grid--g#{$g} {
        @include gridset(
            $div: 4,
            $gap-level: $g
        );
    }
}

@media screen and (max-width: $mobile) {
    @for $g from 1 through 3 {
        .grid--g#{$g} {
            @include gridset(
                $div: 1,
                $gap-level: $g
            );
        }
    }
}
