@import "../config.scss";

@for $i from 1 through 3 {
    .m-#{$i} {
        margin: $spacing * $i;
    }
    
    .m-#{$i}t {
        margin-top: $spacing * $i;
    }
    
    .m-#{$i}b {
        margin-bottom: $spacing * $i;
    }
    
    .m-#{$i}l {
        margin-left: $spacing * $i;
    }
    
    .m-#{$i}r {
        margin-right: $spacing * $i;
    }
    
    .m-#{$i}y {
        margin-top: $spacing * $i;
        margin-bottom: $spacing * $i;
    }
    
    .m-#{$i}x {
        margin-left: $spacing * $i;
        margin-right: $spacing * $i;
    }
}


.m-auto {
    margin: auto;
}
