@import "../config.scss";

@for $i from 1 through 3 {
    .p-#{$i} {
        padding: $spacing * $i;
    }
    
    .p-#{$i}t {
        padding-top: $spacing * $i;
    }
    
    .p-#{$i}b {
        padding-bottom: $spacing * $i;
    }
    
    .p-#{$i}l {
        padding-left: $spacing * $i;
    }
    
    .p-#{$i}r {
        padding-right: $spacing * $i;
    }
    
    .p-#{$i}y {
        padding-top: $spacing * $i;
        padding-bottom: $spacing * $i;
    }
    
    .p-#{$i}x {
        padding-left: $spacing * $i;
        padding-right: $spacing * $i;
    }
}
