@import "../config.scss";

.tstyl-center {
    text-align: center;
}

.tstyl-bold {
    font-weight: bold;
}

.tstyl-italic {
    font-style: italic;
}

.tstyl-nonselect {
    user-select: none;
}

// tstyl = text style
