@import "../config.scss";

@mixin flexset($direction, $justify, $gap-level) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: center;
    gap: $spacing * $gap-level;
}
