@import "../config.scss";

@mixin gridset($div, $gap-level) {
    display: grid;
    grid-template-columns: repeat($div, 1fr);
    place-items: center;
    justify-content: space-between;
    gap: $spacing * $gap-level;
}
